<!DOCTYPE html>
<p lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>

<h1>AGENDA SETTINGS</h1>
<p>
<h3>EVENT</h3>
<a href="/events">Show all events</a>
<a href="/event">Create event</a>
<a href="/api/events">Api events</a>
</p>
<p>
<h3>THEME</h3>
<a href="/themes">Show all themes</a>
<a href="/theme">Create theme</a>
</p>
<p>
<h3>LOCATION</h3>
<a href="/locations">Show all locations</a>
<a href="/location">Create location</a>
</p>
<p>
<h3>ORGANIZER</h3>
<a href="/organizers">Show all organizers</a>
<a href="/organizer">Create organizer</a>
</p>
</body>
</html>